p{
    font-size: 100px;
    color: red;
    text-align: center;
    text-decoration: red;
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
    padding-top: 600px;


}
body{
    background-image: url("/static/image/paris.jpg");
background-repeat: no-repeat;
}