<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAT</title>
    {% load static %}
    <style>
        .dd{
            display: flex;
            background-color: darkorchid;
        }
        .aj{margin-left:60px;
            margin-right: 5px;

        }
        .bana{margin-left:10px ;
            margin-right:10px ;
            height: 1%;

        }
    </style>
</head>
<body>
<div class="dd">
    <div class="aj">
        <img src="{% static 'image/pp.avif' %}" alt="" style="height: auto;width: auto">
    </div>
    <div class="bana">
        <img src="{% static 'image/pn.avif' %}" alt="" style="height: 620px;width:500px">
    </div>
</div>

</body>
</html>